.modal__button_type_edit {
  width: 128px;
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.modal__button_type_edit:disabled {
opacity: .5;
}
