.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  background-color: black;
  width: 30px;
  height: 30px;
  top: -1px;
  position: absolute;
  border-radius: 50%;
  left: -1px;
  transition: all 0.3s;
}

.toggle-switch__text {
  position: absolute;
  color: #7e7e7e;
  top: 6px;
  font-size: 14px;
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  right: 9px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

.toggle-switch:hover .toggle-switch__checkbox:not(:checked) ~ .toggle-switch__circle {
  width: 32px;
  left: -1px; 
}

.toggle-switch:hover .toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  width: 32px;
  left: 26px;
}
