.card__image {
  border-radius: 20px;
  height: 328px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  object-fit: cover;
  max-width: 323px;
  width: 100%;
  cursor: pointer;
}

.card__container {
  position: relative;
  display: flex;
  width: 323px;
}

.cards__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 325px);
  justify-content: center;
  
}

.card__label-wrapper {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.card__name {
  background-color: white;
  padding: 2px 12px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #222;
}

.card__heart-icon {
  width: 18px;
  height: 15px;
  background-image: url('../../assets/likeBtnDefault.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  cursor: pointer;
}

.card__heart-icon_liked {
  background-image: url('../../assets/likeBtnLiked.svg');
}


@media screen and (max-width: 717px) {
  .card__image {
    border-radius: 20px;
    height: 163px;
    max-width: 163px;
    
  }

  .card__name {
    top: 7px;
  }
  
  .card__container {
   width: 163px;
  }
  
  .cards__list {
    row-gap: 16px;
    column-gap: 15px;
    grid-template-columns: repeat(auto-fit, 165px);
   
  }


}
