.page {
  background-color: #f3f3f3;
  font-family: 'Cabinet Grotesk';
  font-size: 20px;
  font-weight: 700;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;

}

@media screen and (max-width: 768px) {
    .page__content {
        padding: 20px 16px;
    }
}
