.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
 
 
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  border: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__date-and-location {
  margin: 0;
  align-self: center;
  padding-top: 11px;
}

.header__username {
  margin: 0;
}

.header__logo {
  margin-right: 24px;
}

.header__corner-btn {
    visibility: hidden;
    position: absolute;
    border: none;
   

}

@media screen and (max-width: 768px) {
  .header {
   justify-content: flex-start;
   align-items: flex-start;
   line-height: 1;
   flex-direction: column;
   padding: 0;
   height: 104px;
  

  }

  

  .header__corner-btn {
    width: 44px;
    visibility: visible;
    top:18px;
    right:16px;
    cursor: pointer;
    padding: 0;

  }

  .header__date-and-location {
    align-self: auto;
    line-height: 24px;
    padding-top: 34px;
  
  }

  .header__add-clothes-btn {
    visibility: hidden;
  }

  .header__avatar {
    visibility: hidden;
  }

  .header__ursername {
    visibility: hidden;
  }

  

 
}
