.modal__content.modal__content_type_image {
  display: block;
  padding: 0;
  width: 498px;
  border-radius: 20px;
}

.modal__image {
  width: 100%;
  box-sizing: border-box;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
}

.modal__close {
  z-index: 1;
}

.modal__footer {
  margin: 0;
  padding-left: 32px;
}

.modal__caption {
  margin: 0;
  padding: 20px 0;
  font-size: 20px;
}

.modal__weather {
  margin: 0;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .modal__image {
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: auto;
    object-fit: contain;
  }

  .modal.modal__content_type_image {
    align-items: center;
    border-radius: 12px;
    padding: 16px;
  }

  .modal__content.modal__content_type_image {
    border-radius: 12px;
    max-width: 343px;
    align-self: center;
  }

  .modal__weather {
    margin-bottom: 20px;
  }

  .modal__footer {
    padding-left: 20px;
  }

  .modal__caption {
    padding-bottom: 12px;
  }
}
